<%= form_with(model: article, local: true, multipart: true) do |form| %>
  <div class="article">
    <div class="title">
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.text_area :body, class: "article-text-area", rows: 15, cols: 88; %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
      <%= form.label :image, "Upload article image" %>
      <%= form.file_field :image %>
    </div>
    <div>
      <%= form.label :status %>
      <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %><br>
    </div>
    <div>
    <% if user_signed_in? && user_able_to_post?%>
      <%= form.submit %>
    <% else %>
      Whoops, you don't have permission to post! Contact the site admin.
    <% end %>

    </div>
  </div>
<% end %>
