<div class="article">
  <div class="title">
    <h1><%= @article.title %></h1>
    <div class="date">
      <%= @article.created_at.to_date %>
    </div>
  </div>

  <div class="body">
    <p><%= markdown(@article.body) %></p>
  </div>

  <div class="image-container">
    <%= image_tag url_for(@article.image), class: "image" unless !@article.image.present? %>
  </div>

  status: <%= @article.status %>

  <% if user_signed_in? && current_user = @article.user %>
    <div class="buttons">
      <div class="button">
        <%= button_to "Edit", edit_article_url(@article), method: :get %>
      </div>
      <div class="button">
        <%= button_to "Delete", edit_article_url(@article), method: :get, data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }
      %>
      </div>
    </div>
  <% else %>
      Sign in to do stuff
  <% end %>

  

  <%# <h2>Comments</h2> %>
  <%# <%= render @article.comments %>
  <%#  %>
  <%# <h2>Add a comment:</h2> %>
  <%# <%= render "comments/form", article: @article %>
</div>
