<div class="navbar">
  
  <div class="left">
  <div>
  </div>
    <%= image_tag "navbar_logo.png", alt: "Logo", class: "logo" %>
    <span class="title">Tired Legs</span>
    <%= link_to "Articles", articles_path, class: "nav-button"%>
  </div>
  
  <div class="right">
    <% if user_signed_in? %>
      <a>
        Welcome, <%= current_user.email %>
      </a>
      <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "nav-button" %>
    <% else %>
      <%= link_to "Sign up", sign_up_path, class: "nav-button" %>
      <%= link_to "Login", login_path, class: "nav-button" %>
    <% end %>



  </div>
</div>

